{% extends "base.html" %}


{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
        {%  for post in posts %}
            <div class="posted_by">
                <div class="{{ url_for('post', post_id=posts.id) }}">
                    <p class="post-meta" >Posted by : {{ post.name }} </p>
                </div>
            </div>
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 mx-auto">
                            {{ post.message }}
                        </div>
                    </div>
                </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
